eventlet==0.40.0
Flask==3.1.1
Flask_Cors==4.0.0
Flask_RESTful==0.3.10
flask_socketio==5.5.1
langchain==0.3.25
langchain_core==0.3.60
langchain_openai==0.3.17
pydantic==2.11.4
python-dotenv==1.1.0
schedule==1.2.2
supabase==2.15.1
psutil==7.0.0
tvdb_v4_official==1.1.0